


<div class="section-title pt-3">
  <h2>Create Invoice</h2>
</div>
<div class="container mt-4">
  <div class="row">
    <form [formGroup]="listForm">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="label-header">Invoice Type</label>
              <label class="label-subheader">{{f.INVOICE_TYPE.value}}</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="label-header">Bill From</label>
              <label class="label-subheader">{{f.BILL_FROM.value}}</label>
              <!-- <label class="label-subheader">{{f.BILL_FROM.value}}</label> -->

            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label *ngIf="POL" class="label-header">Shipper/CHA</label>
              <label *ngIf="!POL" class="label-header">Consignee/CHA</label>

              <label  class="label-subheader">{{f.SHIPPER_NAME.value}}</label>

              <!-- <label *ngIf="!POL" class="label-subheader">{{f.SHIPPER_NAME.value}}</label> -->


            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="label-header">Payment Term</label>
              <label class="label-subheader">Prepaid</label>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-3">
            <div class="form-group">
              <nav id="navbar" class="navbar pointer">
                <ul>
                  <li class="dropdown"><a class="form-btn-primary  p-2">Please Select Address<i
                              class="bi bi-chevron-down"></i></a>
                              <ul>
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>Select</th>
                                    <th>No</th>
                                   <th>Customer Name</th>
                                    <th>Branch Name</th>
                                    <th>Address</th>
                                    <th>Country</th>
                                    <th>Is SEZ</th>
                                    <th>Is Tax Applicable</th>
                                    <th>Tax No</th>
                                    <th>Tax Type</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr  (click)="getAddress(item.ADDRESS,item.BRANCH_ID)"  *ngFor="let item of AddressList let i = index">
                                    <td><input type="checkbox"></td>
                                    <td>{{i + 1}}</td>
                                    <td>{{item.CUST_NAME}}</td>
                                    <td>{{item.BRANCH_NAME}}</td>
                                    <td>{{item.ADDRESS}}</td>
                                    <td>{{item.COUNTRY}}</td>
                                    <td>{{item.IS_SEZ}}</td>
                                    <td>{{item.IS_TAX_APPLICABLE}}</td>
                                    <td>{{item.TAX_NO}}</td>
                                    <td>{{item.TAX_TYPE}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </ul>
                  </li>
              </ul>
              </nav>
              <!-- <label class="label-header">Bill To</label>
              <label class="label-subheader">{{f.SHIPPER_NAME.value}}</label> -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <ng-select formControlName="BILL_TO">
                <ng-option disabled value="">--Select--</ng-option>
                <ng-option *ngFor="let item of BillFromList" value="{{item.CODE}}">{{item.CODE}}</ng-option>
              </ng-select>
              <label class="form-label-ddl">Bill To<span class="text-danger"> *</span></label>


            </div>
          </div>
          <div class="col-md-3">
            <form [formGroup]="listForm">
              <div class="form-group">
                <ng-multiselect-dropdown (onSelectAll)="saveContainer($event,1)"
                  (onDeSelectAll)="saveContainer($event,2)" (onSelect)="saveContainer($event)"
                  (onDeSelect)="saveContainer($event)" #multiSelect [placeholder]="'Select Container'"
                  [settings]="dropdownSettings" [formControl]="f.CONTAINER_LIST1" [data]="containerDropdownList">
                </ng-multiselect-dropdown>
                <label class="form-label-ddl">Container No<span class="text-danger"> *</span></label>
              </div>
            </form>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <input type="date" class="form-control" formControlName="INVOICE_DATE">
              <label class="form-label">Invoice Date</label>
              <!-- <ng-select formControlName="ADDRESS">
                <ng-option disabled value="">--Select--</ng-option>
                <ng-option *ngFor="let item of AddressList" value="{{item.ADDRESS}}">{{item.ADDRESS}}</ng-option>
              </ng-select>
              <label class="form-label-ddl">Address<span class="text-danger"> *</span></label> -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="label-header">Total Container =  {{f.TOTAL_CONTAINER.value}}</label>
              </div>
              </div>



        </div>
      </div>
    </form>
    <div class="col-md-6 offset-md-6 text-end">
      <button (click)="addRow()" class="form-btn me-2">Add Row</button>
    </div>
  </div>
  <h6>Charge List</h6>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>No</th>
          <th>Charge</th>
          <th>Ex Rate</th>
          <th>Qty</th>
          <th>Amount</th>
          <th>HSN Code</th>
          <th>Requested Amount</th>
          <th>Currency</th>
          <th>Exempt Flag</th>
          <th>Tax %</th>
          <th>IGST</th>
          <th>SGST</th>
          <th>CGST</th>
          <th>Tax Amount</th>
          <th>Total Amount</th>
          <th>Action</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of f1; let i = index" [formGroup]="item">
          <td>{{ i + 1 }}</td>
          <td>
            <select *ngIf="!item.value.IS_SRRCHARGE" class="form-control3" formControlName="CHARGE_NAME"
              [ngClass]="{'invalid': submitted && f.BL_LIST.controls[i].get('CHARGE_NAME').errors}">
              <option disabled="true">--Select--</option>
              <option *ngFor="let item of ChargeMasterList" value="{{item.CODE}}">{{item.CODE}}</option>

            </select>
            <span *ngIf="item.value.IS_SRRCHARGE">{{item.value.CHARGE_NAME}}</span>
          </td>

          <td> <input type="text" [ngClass]="{ invalid: submitted && f.BL_LIST.controls[i].get('EXCHANE_RATE').errors}"
              formControlName="EXCHANE_RATE" class="form-control3" />

          </td>

          <td>
            <input *ngIf="item.value.IS_SRRCHARGE != '1'" type="text"
              [ngClass]="{ invalid: submitted && f.BL_LIST.controls[i].get('QUANTITY').errors}"
              formControlName="QUANTITY" class="form-control3" />
            <span *ngIf="item.value.IS_SRRCHARGE == '1'">{{item.value.QUANTITY}}</span>
          </td>

          <td>
            <input *ngIf="item.value.IS_SRRCHARGE != '1'" type="text"
              [ngClass]="{invalid:submitted && f.BL_LIST.controls[i].get('AMOUNT').errors }" formControlName="AMOUNT"
              class="form-control3" />
            <span *ngIf="item.value.IS_SRRCHARGE == '1'">{{item.value.AMOUNT}}</span>
          </td>

          <td>
            <input *ngIf="item.value.IS_SRRCHARGE != '1'" type="text"
              [ngClass]="{invalid:submitted && f.BL_LIST.controls[i].get('HSN_CODE').errors}" formControlName="HSN_CODE"
              class="form-control3" />
            <span *ngIf="item.value.IS_SRRCHARGE == '1'">{{item.value.HSN_CODE}}</span>
            <div *ngIf=" submitted && f.BL_LIST.controls[i].get('HSN_CODE').errors" class="invalid-feedback"> HSN Code
              is required </div>
          </td>

          <td>
            <input type="text" *ngIf="item.value.IS_SRRCHARGE != '1'"
              [ngClass]="{invalid: submitted && f.BL_LIST.controls[i].get('REQUESTED_AMOUNT').errors}"
              formControlName="REQUESTED_AMOUNT" class="form-control3" />
            <span *ngIf="item.value.IS_SRRCHARGE == '1'">{{item.value.REQUESTED_AMOUNT}}</span>

          </td>

          <td>
            <select class="form-control3" *ngIf="item.value.IS_SRRCHARGE != '1'" formControlName="CURRENCY"
              [ngClass]="{'invalid': submitted && f.BL_LIST.controls[i].get('CURRENCY').errors}">
              <option disabled="true">--Select--</option>
              <option *ngFor="let item of CurrencyList" value="{{item.CODE}}">{{item.CODE}}</option>
            </select>
            <span *ngIf="item.value.IS_SRRCHARGE == '1'">{{item.value.CURRENCY}}</span>
          </td>

          <td>
            <input  type="checkbox"
              [ngClass]="{invalid: submitted && f.BL_LIST.controls[i].get('EXEMPT_FLAG').errors}"
              formControlName="EXEMPT_FLAG" />
              <!-- *ngIf="item.value.IS_SRRCHARGE != '1'" -->
            <!-- <span *ngIf="item.value.IS_SRRCHARGE == '1'">{{item.value.EXEMPT_FLAG}}</span> -->
          </td>

          <td>
            <input class="form-control3" type="text" *ngIf="item.value.IS_SRRCHARGE != '1'"
              [ngClass]="{invalid: submitted && f.BL_LIST.controls[i].get('TAX').errors}" formControlName="TAX" />
              <span *ngIf="item.value.IS_SRRCHARGE == '1'">{{item.value.TAX}}</span>
          </td>

          <td>
            <input class="form-control3" type="text" *ngIf="item.value.IS_SRRCHARGE != '1'"
              [ngClass]="{invalid: submitted && f.BL_LIST.controls[i].get('IGST').errors}" formControlName="IGST" />
            <span *ngIf="item.value.IS_SRRCHARGE == '1'">{{item.value.IGST}}</span>
          </td>
          <td>
            <input class="form-control3" type="text" *ngIf="item.value.IS_SRRCHARGE != '1'"
              [ngClass]="{invalid: submitted && f.BL_LIST.controls[i].get('SGST').errors}" formControlName="SGST" />
              <span *ngIf="item.value.IS_SRRCHARGE == '1'">{{item.value.SGST}}</span>
          </td>

          <td>
            <input class="form-control3" type="text" *ngIf="item.value.IS_SRRCHARGE != '1'"
              [ngClass]="{invalid: submitted && f.BL_LIST.controls[i].get('CGST').errors}" formControlName="CGST" />
              <span *ngIf="item.value.IS_SRRCHARGE == '1'">{{item.value.CGST}}</span>

          </td>


          <td>
            <input class="form-control3" type="text" *ngIf="item.value.IS_SRRCHARGE != '1'"
              [ngClass]="{invalid: submitted && f.BL_LIST.controls[i].get('TAX_AMOUNT').errors}"
              formControlName="TAX_AMOUNT" />
              <span *ngIf="item.value.IS_SRRCHARGE == '1'">{{item.value.TAX_AMOUNT}}</span>

          </td>

          <td>
            <input class="form-control3" type="text" *ngIf="item.value.IS_SRRCHARGE != '1'"
              [ngClass]="{invalid: submitted && f.BL_LIST.controls[i].get('TOTAL_AMOUNT').errors}"
              formControlName="TOTAL_AMOUNT" />
              <span *ngIf="item.value.IS_SRRCHARGE == '1'">{{item.value.TAX_AMOUNT}}</span>


          </td>
          <td>
            <i class="fa fa-trash ms-2 pointer text-danger" (click)="deleteBranch(i)"></i>
          </td>

        </tr>

      </tbody>

    </table>
  </div>
  <div class="col-md-2 offset-md-10 mt-4 text-end">
    <button (click)="SubmitList()" class="form-btn w-100">
      Save As Draft
    </button>
  </div>
</div>
