thead > tr {
  font-size: 10px;
}

.table th {
  text-transform: none;
  font-size: 0.7rem;
}

.ratetable thead th {
  padding: 7px;
  font-size: 11px;
}

.ratetable tbody td {
  padding: 7px;
  font-size: 11px;
}
