<div class="section-title pt-3">
  <h2>Customer Master</h2>
</div>
<div class="mb-4">
  <form [formGroup]="custForm">
    <div class="col-md-6 offset-md-6 text-end">
      <button class="form-btn-primary" (click)="openModal()"><i class="fa fa-plus me-1"></i>New Customer</button>
      <button class="form-btn-primary d-none" #openModalPopup data-bs-toggle="modal" href="#customerModal">New
        Customer</button>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label class="form-label2">Customer Name</label>
          <input formControlName="CUST_NAME" type="text" class="form-control2">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label2">Type</label>
          <select formControlName="CUST_TYPE" class="form-control2">
            <option disabled value="">--Select--</option>
            <option value="S">Shipper</option>
            <option value="C">Consignee</option>
            <option value="F">Forwarder</option>
            <option value="CHA">CHA</option>
            <option value="B">Broker</option>
            <option value="N">Notify Party</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label2">Status</label>
          <select formControlName="STATUS" class="form-control2">
            <option disabled value="">--Select--</option>
            <option value=true>Active</option>
            <option value=false>In-Active</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label2">From Date</label>
          <input (change)="custForm.get('TO_DATE')?.setValue('')" onkeypress="return false;" formControlName="FROM_DATE"
            type="date" class="form-control2">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label2">To Date</label>
          <input onkeypress="return false;" [min]="custForm.get('FROM_DATE')?.value" formControlName="TO_DATE"
            type="date" class="form-control2">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 offset-md-9 text-end mb-3">
        <button class="form-btn me-2" (click)="Search()" [disabled]="isLoading">Search
          <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span></button>
        <button class="form-btn-light me-2" (click)="Clear()" [disabled]="isLoading1">Clear<span *ngIf="isLoading1"
            class="fa fa-spinner fa-spin"></span></button>
      </div>
    </div>
  </form>
  <table class="ratetable table-bordered" id="data-table-config">
    <thead>
      <tr>
        <th width="1%">No</th>
        <th width="30%">Name</th>
        <th width="9%">Type</th>
        <th width="10%">Email</th>
        <th width="20%">Address</th>
        <th width="10%">Contact</th>
        <th width="10%">Status</th>
        <th width="10%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of partyList; let i = index">
        <td width="1%">{{i+1}}</td>
        <td width="30%">{{item.CUST_NAME}}</td>
        <td width="9%">{{item.CUST_TYPE}}</td>
        <td width="10%">{{item.CUST_EMAIL == null ? '-' : item.CUST_EMAIL == '' ? '-' : item.CUST_EMAIL}}</td>
        <td width="20%">{{item.CUST_ADDRESS == null ? '-' : item.CUST_ADDRESS == '' ? '-' : item.CUST_ADDRESS}}</td>
        <td width="10%">{{item.CUST_CONTACT == null ? '-' : item.CUST_CONTACT == '' ? '-' : item.CUST_CONTACT}}</td>
        <td width="10%" class="status"><span [class]="!item.STATUS ? 'rejected' : 'active'">{{item.STATUS ? 'Active'
            :
            'In-Active'}}</span>
        </td>
        <td width="10%">
          <i class="fa fa-pencil mx-2 pointer text-success" (click)="openModal(item.CUST_ID)"></i>
          <i class="fa fa-trash ms-2 pointer text-danger" (click)="DeletePartyMaster(item.CUST_ID)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" #customerModal id="customerModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customer Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
      </div>
      <div class="modal-body">
        <div class="accordion mt-3" id="accordion" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="heading-1">
              <h6 class="mb-0">
                <a data-bs-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1"
                  data-abc="true" class="collapsed">
                  <span class="fw-bolder">General Details</span>
                </a>
              </h6>
            </div>
            <div id="collapse-1" class="collapse show" role="tabpanel" aria-labelledby="heading-1"
              data-bs-parent="#accordion">
              <div class="card-body">
                <div class="row mt-4">
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" class="form-control">
                      <label class="form-label">Customer Name <span class="text-danger"> *</span></label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <ng-select>
                        <ng-option disabled="true">--Select--</ng-option>
                        <ng-option>India</ng-option>
                      </ng-select>
                      <label class="form-label-ddl">Country <span class="text-danger"> *</span></label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <ng-select>
                        <ng-option disabled="true">--Select--</ng-option>
                        <ng-option>Maharashtra</ng-option>
                      </ng-select>
                      <label class="form-label-ddl">State <span class="text-danger"> *</span></label>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-4">
                    <div class="form-group">
                      <ng-select>
                        <ng-option disabled="true">--Select--</ng-option>
                        <ng-option>Navi Mumbai</ng-option>
                      </ng-select>
                      <label class="form-label-ddl">City <span class="text-danger"> *</span></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="heading-4">
              <h6 class="mb-0">
                <a data-bs-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4"
                  data-abc="true" class="collapsed">
                  <span class="fw-bolder">POL Charges</span>
                </a>
              </h6>
            </div>
            <div id="collapse-4" class="collapse" role="tabpanel" aria-labelledby="heading-4"
              data-bs-parent="#accordion">
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="heading-5">
              <h6 class="mb-0">
                <a data-bs-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5"
                  data-abc="true" class="collapsed">
                  <span class="fw-bolder">POD Charges</span>
                </a>
              </h6>
            </div>
            <div id="collapse-5" class="collapse" role="tabpanel" aria-labelledby="heading-5"
              data-bs-parent="#accordion">

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="!isUpdate" (click)="InsertPartyMaster()" class="form-btn">Save</button>
        <button *ngIf="isUpdate" (click)="UpdatePartyMaster()" class="form-btn">Update</button>
        <button class="form-btn-light me-2" (click)="ClearForm()">Clear</button>
      </div>
    </div>
  </div>
</div>