<div class="section-title pt-3">
    <h2>Credit Note</h2>
</div>
<div class="container mt-4">
    <div class="table-responsive">
        <table class="ratetable" id="data-table-config">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Invoice No</th>
                    <th>Name</th>
                    <th>BL No</th>
                    <th>Invoice Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of creditList;let i = index">
                    <td>{{i +1}}</td>
                    <td>{{item.INVOICE_NO}}</td>
                    <td>{{item.INVOICE_FOR}}</td>
                    <td>{{item.BL_NO}}</td>
                    <td>{{item.CREATED_DATE | date:'mediumDate'}}</td>
                    <td><i class="fa fa-eye pointer"></i>
                        <button class="d-none" #openBtn href="#invoiceModal" data-bs-toggle="modal"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>