<div class="section-title pt-3">
  <h2>Hsn Master</h2>
</div>
<div class="mb-4">
  <div class="col-md-6 offset-md-6 text-end">
    <button (click)="openModal()" class="form-btn-primary"><i class="fa fa-plus me-1"></i>
      Add Hsn Code</button>
    <button class="form-btn-primary d-none" #openModalPopup data-bs-toggle="modal" href="#hsnModal">Add Hsn
      Code</button>
  </div>
  <form [formGroup]="hsnForm1">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label2">From Date</label>
          <input (change)="hsnForm1.get('TO_DATE')?.setValue('')" onkeypress="return false;" formControlName="FROM_DATE"
            type="date" class="form-control2">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label2">To Date</label>
          <input onkeypress="return false;" [min]="hsnForm1.get('FROM_DATE')?.value" formControlName="TO_DATE"
            type="date" class="form-control2">
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <button class="form-btn me-2" (click)="Search()">Search
          <!-- <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span> -->
        </button>
        <button class="form-btn-light me-2" (click)="Clear()">Clear
          <!-- <span *ngIf="isLoading1" class="fa fa-spinner fa-spin"></span> -->
        </button>
      </div>
    </div>
  </form>
  <table class="ratetable table-bordered" id="data-table-config">
    <thead>
      <tr>
        <th>No</th>
        <th>HSN Code</th>
        <th>HSN Description</th>
        <th>Created By</th>
        <th>Created Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let item of HsnList let i = index">
        <td>{{i + 1}}</td>
        <td>{{item.HSN_CODE}}</td>
        <td>{{item.HSN_DESC}}</td>
        <td>{{item.CREATED_BY}}</td>
        <td>{{item.CREATED_DATE}}</td>
        <!-- <td width="25%" class="status"><span
                      [class]="!item.STATUS ? 'rejected' : 'active'">{{item.STATUS ? 'Active'
                      :
                      'In-Active'}}</span></td> -->
        <td>
          <!-- <i class="fa fa-pencil mx-2 pointer text-success" (click)="openModal(item.ID)"></i> -->
          <i class="fa fa-trash ms-2 pointer text-danger" (click)="DeleteHSnMaster(item.ID)"></i>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal fade bd-example-modal-xl" id="hsnModal" aria-labelledby="exampleModalLabel" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">HSN Code Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="hsnForm">
          <div class="row mt-4">
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label2">HSN Code<span class="text-danger"> *</span></label>
                <input type="text" [ngClass]="{'invalid':submitted && f.HSN_CODE.errors}" formControlName="HSN_CODE"
                  class="form-control2" maxlength="20">
                <div *ngIf="submitted && f.HSN_CODE.errors" class="invalid-feedback">HSN Code is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label2">Rate (%)<span class="text-danger"> *</span></label>
                <input type="text" [ngClass]="{'invalid':submitted && f.RATE.errors}" formControlName="RATE"
                  class="form-control2" maxlength="20">
                <div *ngIf="submitted && f.RATE.errors" class="invalid-feedback">Rate is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label2">Effective From<span class="text-danger"> *</span></label>
                <input type="date" [ngClass]="{'invalid':submitted && f.EFFECTIVE_FROM.errors}"
                  formControlName="EFFECTIVE_FROM" class="form-control2">
                <div *ngIf="submitted && f.EFFECTIVE_FROM.errors" class="invalid-feedback">Effective From is required
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label2">Effective To</label>
                <input type="date" formControlName="EFFECTIVE_TO" class="form-control2">
              </div>
            </div>

          </div>
          <div class="row mt-4">
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label2">IGST<span class="text-danger"> *</span></label>
                <input type="text" [ngClass]="{'invalid':submitted && f.IGST.errors}" formControlName="IGST"
                  class="form-control2" maxlength="20">
                <div *ngIf="submitted && f.IGST.errors" class="invalid-feedback">IGST is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label2">CGST<span class="text-danger"> *</span></label>
                <input type="text" [ngClass]="{'invalid':submitted && f.CGST.errors}" formControlName="CGST"
                  class="form-control2" maxlength="20">
                <div *ngIf="submitted && f.CGST.errors" class="invalid-feedback">CGST is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label2">SGST<span class="text-danger"> *</span></label>
                <input type="text" [ngClass]="{'invalid':submitted && f.SGST.errors}" formControlName="SGST"
                  class="form-control2" maxlength="20">
                <div *ngIf="submitted && f.SGST.errors" class="invalid-feedback">SGST is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label2">HSN Description</label>
                <textarea type="text" formControlName="HSN_DESC" class="form-control2 addressbox"
                  maxlength="20"></textarea>
              </div>
            </div>
          </div>
        </form>
        <hr>
        <div class="col-md-2 offset-md-10 text-end">
          <button (click)="SubmitHSN()" class="form-btn-primary w-100">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>