<div class="section-title pt-3">
    <h2>New Credit Note</h2>
</div>
<div class="container">
    <div class="col-md-10 mx-auto mb-4">
        <div class="card">
            <div class="card-body" [formGroup]="creditForm">
                <div class="row mt-4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <ng-select (change)="getInvoiceList($event)" formControlName="BL_NO">
                                <ng-option value="">--Select--</ng-option>
                                <ng-option *ngFor="let item of blList" value="{{item.BL_NO}}">{{item.BL_NO}}</ng-option>
                            </ng-select>
                            <label class="form-label-ddl">BL No</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <ng-select (change)="getInvoiceDetails($event)" formControlName="INVOICE_NO">
                                <ng-option value="">--Select--</ng-option>
                                <ng-option *ngFor="let item of invoiceList"
                                    value="{{item.INVOICE_ID}}">{{item.INVOICE_NO}}</ng-option>
                            </ng-select>
                            <label class="form-label-ddl">Invoice No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="label-header">Invoice Party</label>
                        <label class="label-subheader">{{invoiceDetails?.BILL_TO}}</label>
                    </div>
                    <div class="col-md-4">
                        <label class="label-header">Vessel / Voyage</label>
                        <label class="label-subheader">{{invoiceDetails?.VESSEL_NAME}} /
                            {{invoiceDetails?.VOYAGE_NO}}</label>
                    </div>
                    <div class="col-md-4">
                        <label class="label-header">Credit Note To</label>
                        <label class="label-subheader">{{invoiceDetails?.BILL_TO}}</label>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <label class="label-header">GSTIN No</label>
                        <label class="label-subheader">{{invoiceDetails?.TAX_NO}}</label>
                    </div>
                    <div class="col-md-4">
                        <label class="label-header">GST State Code</label>
                        <label class="label-subheader"></label>
                    </div>
                    <div class="col-md-4">
                        <label class="label-header">Tax Applied</label>
                        <label class="label-subheader"></label>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <label class="label-header">Place of Supply</label>
                        <label class="label-subheader"></label>
                    </div>
                    <div class="col-md-4">
                        <div class="label-header">
                            Containers
                        </div>
                        <div class="label-subheader">20GP X {{invoiceDetails?.CONTAINERS.split(',').length -
                            1}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="ratetable" id="data-table-config">
            <thead>
                <tr>
                    <th><label *ngIf="f1?.length > 0" class="checkbox-wrap checkbox-primary me-2">
                            <input type="checkbox" (change)="checkAll($event)" id="chckAll">
                            <span class="checkmark" style="top:-8px"></span>
                        </label></th>
                    <th>Charge Name</th>
                    <th>HSN</th>
                    <th>Qty</th>
                    <th>Currency</th>
                    <th>Ex Rate</th>
                    <th>Rate</th>
                    <th>Taxable Amnt</th>
                    <th>Tax Amnt</th>
                    <th>IGST</th>
                    <th>SGST</th>
                    <th>CGST</th>
                    <th>Total Rate</th>
                    <th>Credit Note</th>
                    <th>Remaining Credit</th>
                </tr>
            </thead>
            <tbody>
                <tr class="alert" role="alert" *ngFor="let item of f1;let i = index" [formGroup]="item">
                    <td><label class="checkbox-wrap checkbox-primary me-2">
                            <input type="checkbox" (change)="checkItem(item,$event)" id="chck{{i}}">
                            <span class="checkmark"></span>
                        </label></td>
                    <td>{{item.value.CHARGE_NAME}}</td>
                    <td>{{item.value.HSN_CODE}}</td>
                    <td>{{item.value.QUANTITY}}</td>
                    <td>{{item.value.CURRENCY}}</td>
                    <td>{{item.value.EXCHANGE_RATE}}</td>
                    <td>{{item.value.RATE_PER}}</td>
                    <td>{{item.value.TAXABLE_AMOUNT}}</td>
                    <td>{{item.value.TAX_AMOUNT}}</td>
                    <td>{{item.value.IGST}}</td>
                    <td>{{item.value.SGST}}</td>
                    <td>{{item.value.CGST}}</td>
                    <td>{{item.value.TOTAL_AMOUNT}}</td>
                    <td><input type="text" (change)="setRemainingCredit($event,i)"
                            (keyup)="getRemainingCredit($event,i)" (keydown)="getRemainingCredit($event,i)"
                            formControlName="CREDIT_AMOUNT" class="form-control3" /></td>
                    <td>{{item.value.REMAINING_AMOUNT}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="col-md-2 offset-md-10 my-4">
        <button class="form-btn-primary" (click)="createCreditNote()">Create Credit Note</button>
    </div>
</div>