<div class="section-title">
    <h2>New Receipt</h2>
</div>
<div class="container">
    <a routerLink="/home/operations/receipt-list"><i class='bx bx-arrow-back'></i>Back to List</a>
    <div class="col-md-10 mx-auto my-4 ">
        <div class="services pb-0">
            <div class="icon-box icon-box-cyan text-start" [formGroup]="receiptForm">
                <div class="row">
                    <div class="col-md-3">
                        <label class="label-header">Invoice No</label>
                        <label class="label-subheader">{{invoiceDetails?.INVOICE_NO}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="label-header">Invoice Party</label>
                        <label class="label-subheader">{{invoiceDetails?.BILL_TO}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="label-header">Received From</label>
                        <label class="label-subheader">{{invoiceDetails?.BILL_FROM}}
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="label-header">Customer</label>
                        <label class="label-subheader">{{invoiceDetails?.SHIPPER}}
                        </label>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3 mt-4">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                            <label class="form-label">Deposit Cash/Bank</label>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="form-group">
                            <textarea type="text" class="form-control"></textarea>
                            <label class="form-label">Receipt Remarks</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 offset-md-6 text-end">
        <button class="form-btn btn-sm" (click)="addBank()">Add Row</button>
    </div>
    <h6 class="fw-bold">Bank List</h6>
    <div class="table-responsive">
        <table class="ratetable table-bordered">
            <thead>
                <tr>
                    <th width="1%">No</th>
                    <th width="10%">INS. Type</th>
                    <th width="20%">Bank Name</th>
                    <th width="10%">INS. No</th>
                    <th width="15%">INS. Date</th>
                    <th width="15%">Deposit Date</th>
                    <th width="10%">INS. Amount</th>
                    <th width="9%">Bank Location</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of f1;let i = index" [formGroup]="item">
                    <td width="1%">{{i+1}}</td>
                    <td width="10%"><select formControlName="INS_TYPE" class="form-control3">
                            <option value="" disabled>--Select--</option>
                            <option value="RTGS">RTGS</option>
                            <option value="NEFT">NEFT</option>
                            <option value="DD">DD</option>
                            <option value="Cash">Cash</option>
                        </select></td>
                    <td width="20%"><span *ngIf="item.value.ISNEW == 0">{{item.value.BANK_NAME}}</span>
                        <input *ngIf="item.value.ISNEW == 1" type="text" formControlName="BANK_NAME"
                            class="form-control3" />
                    </td>
                    <td width="10%"><input type="text" formControlName="INS_NO" class="form-control3" /></td>
                    <td width="15%"><input type="date" formControlName="INS_DATE" class="form-control3" /></td>
                    <td width="15%"><input type="date" formControlName="DEPOSIT_DATE" class="form-control3" /></td>
                    <td width="10%"><input type="text" formControlName="INS_AMOUNT" class="form-control3" /></td>
                    <td width="9%">Bank Location</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive mt-4">
        <table class="ratetable table-bordered">
            <thead>
                <tr>
                    <th width="1%">No</th>
                    <th width="10%">Principal</th>
                    <th width="10%">Vessel</th>
                    <th width="15%">BL Shipper</th>
                    <th width="10%">TAN No</th>
                    <th width="10%">BL No</th>
                    <th width="10%">Inv No</th>
                    <th width="10%">Inv Amount</th>
                    <th width="10%">Outstanding</th>
                    <th width="10%">Received</th>
                    <th width="4%">#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="1%">1</td>
                    <td width="10%">Prime Maritime</td>
                    <td width="10%">{{invoiceDetails?.VESSEL_NAME}} / {{invoiceDetails?.VOYAGE_NO}}</td>
                    <td width="15%">{{invoiceDetails?.SHIPPER}}</td>
                    <td width="10%">{{invoiceDetails?.TAN_NO == '' ? '-' : invoiceDetails?.TAN_NO == null ? '-' :
                        invoiceDetails?.TAN_NO}}
                    </td>
                    <td width="10%">{{invoiceDetails?.BL_NO}}</td>
                    <td width="10%">{{invoiceDetails?.INVOICE_NO}}</td>
                    <td width="10%">INR {{invoiceDetails?.TOTAL_AMOUNT}}</td>
                    <td width="10%"><input type="text" class="form-control3" /></td>
                    <td width="10%"><input type="text" class="form-control3" /></td>
                    <td width="4%"><span class="pointer fs-5 fw-bolder">...</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-10 mx-auto">
        <div class="table-responsive">
            <table class="ratetable subtable">
                <thead>
                    <tr class="bg-light">
                        <th width="1%">No</th>
                        <th width="30%">Charge Name</th>
                        <th width="24%">Invoice Amount (INR)</th>
                        <th width="15%">Receipt Collected (INR)</th>
                        <th width="15%">Outstanding Amount (INR)</th>
                        <th width="15%">Receipt Amount (INR)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of f2;let i = index" [formGroup]="item">
                        <td width="1%">{{i+1}}</td>
                        <td width="30%">{{item.value.CHARGE_NAME}}</td>
                        <td width="24%">{{item.value.TOTAL_AMOUNT}}</td>
                        <td width="15%"><input type="text" class="form-control3" /></td>
                        <td width="15%"><input type="text" class="form-control3" /></td>
                        <td width="15%"><input type="text" class="form-control3" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <label class="label-header">
            Balance Amount :
        </label>
    </div>
    <div class="col-md-2 offset-md-10 text-end mb-4">
        <button class="form-btn w-100">Submit</button>
    </div>
</div>