<div class="section-title">
    <h2>New Receipt</h2>
</div>
<div class="container">
    <a routerLink="/home/operations/receipt-list"><i class='bx bx-arrow-back'></i>Back to List</a>
    <div class="col-md-10 mx-auto my-4 ">
        <div class="services pb-0">
            <div class="icon-box icon-box-cyan text-start" [formGroup]="receiptForm">
                <div class="row">
                    <div class="col-md-4">
                        <label class="label-header">Invoice Party</label>
                        <label class="label-subheader">{{receiptForm.get('INVOICE_PARTY')?.value}}</label>
                    </div>
                    <div class="col-md-4">
                        <label class="label-header">Customer</label>
                        <label class="label-subheader">
                        </label>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4 mt-4">
                        <div class="form-group">
                            <input formControlName="RECEIVED_FROM" type="text" class="form-control" />
                            <label class="form-label">Received From</label>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                            <label class="form-label">Deposit Cash/Bank</label>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <div class="form-group">
                            <textarea type="text" class="form-control"></textarea>
                            <label class="form-label">Receipt Remarks</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h6 class="fw-bold">Bank Details</h6>
    <div class="table-responsive">
        <table class="ratetable table-bordered">
            <thead>
                <tr>
                    <th width="1%">No</th>
                    <th width="10%">INS. Type</th>
                    <th width="20%">Bank Name</th>
                    <th width="10%">INS. No</th>
                    <th width="15%">INS. Date</th>
                    <th width="15%">Deposit Date</th>
                    <th width="10%">INS. Amount</th>
                    <th width="9%">Bank Location</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of f1;let i = index" [formGroup]="item">
                    <td width="1%">{{i+1}}</td>
                    <td width="10%"><select formControlName="INS_TYPE" class="form-control3">
                            <option value="" disabled>--Select--</option>
                            <option value="RTGS">RTGS</option>
                            <option value="NEFT">NEFT</option>
                            <option value="DD">DD</option>
                            <option value="Cash">Cash</option>
                            <option value="Cheque">Cheque</option>
                        </select></td>
                    <td width="20%"><span *ngIf="item.value.ISNEW == 0"><select formControlName="BANK_NAME"
                                class="form-control3">
                                <option value="" disabled>--Select--</option>
                                <option value="{{bankItems.BANK_NAME}}" *ngFor="let bankItems of bankList">
                                    {{bankItems.BANK_NAME}}</option>
                            </select></span>
                        <input *ngIf="item.value.ISNEW == 1" type="text" formControlName="BANK_NAME"
                            class="form-control3" />
                    </td>
                    <td width="10%"><input type="text" formControlName="INS_NO" class="form-control3" /></td>
                    <td width="15%"><input type="date" formControlName="INS_DATE" class="form-control3" /></td>
                    <td width="15%"><input type="date" formControlName="DEPOSIT_DATE" class="form-control3" /></td>
                    <td width="10%"><input type="text" formControlName="INS_AMOUNT" class="form-control3" /></td>
                    <td width="9%">Bank Location</td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="ratetable table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Principal
                </th>
                <th>Vessel</th>
                <th>BL Shipper</th>
                <th>TAN</th>
                <th>BL No</th>
                <th>Invoice No</th>
                <th>Invoice Amount</th>
                <th>Outstanding Amount</th>
                <th>Amount Received</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody *ngFor="let invList of f; let i = index">
            <tr>
                <td>{{i+1}}</td>
                <td>Prime Maritime</td>
                <td>{{invList.value.VESSEL_NAME}} / {{invList.value.VOYAGE_NO}}</td>
                <td>{{invList.value.SHIPPER}}</td>
                <td>{{invList.value.TAN_NO}}</td>
                <td>{{invList.value.BL_NO}}</td>
                <td> {{invList.value.INVOICE_NO}}</td>
                <td>INR {{invList.value.TOTAL_AMOUNT}}</td>
                <td><input class="form-control3" /></td>
                <td><input class="form-control3" /></td>
                <td>
                    <a class="fs-5 fw-bold" (click)="getChargeList(invList.value.INVOICE_NO,i)">
                        ...
                    </a>
                </td>
            </tr>
            <tr class="subtable" *ngIf="i == subtableIndex">
                <td></td>
                <td></td>
                <td></td>
                <td colspan="5" class="p-0 border">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th width="10%">No</th>
                                <th width="30%">Charge</th>
                                <th width="15%">Invoice</th>
                                <th width="15%">Collected</th>
                                <th width="15%">Outstanding</th>
                                <th width="15%">Receipt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let chList of f2;let i = index" [formGroup]="chList">
                                <td width="10%">{{i+1}}</td>
                                <td width="30%">{{chList.value.CHARGE_NAME}}</td>
                                <td width="15%">{{chList.value.TOTAL_AMOUNT}}</td>
                                <td width="15%"><input type="text" class="form-control3" /></td>
                                <td width="15%"><input type="text" class="form-control3" /></td>
                                <td width="15%"><input type="text" class="form-control3" /></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-2 offset-md-10 text-end mb-4">
        <button class="form-btn w-100">Submit</button>
    </div>
</div>