<div class="container">
  <div class="section-title pt-3">
    <h2>Invoice List</h2>
  </div>
  <div class="col-md-6 offset-md-6 text-end">
    <button #openModalPopup data-bs-toggle="modal" href="#modal-BL" class="form-btn-primary">
      <i class="fa fa-plus me-1"></i>New Invoice
    </button>
  </div>
  <form [formGroup]="invoiceForm1">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label2">From Date</label>
          <input (change)="invoiceForm1.get('TO_DATE')?.setValue('')" onkeypress="return false;"
            formControlName="FROM_DATE" type="date" class="form-control2" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label2">To Date</label>
          <input onkeypress="return false;" [min]="invoiceForm1.get('FROM_DATE')?.value" formControlName="TO_DATE"
            type="date" class="form-control2" />
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <button class="form-btn me-2" (click)="Search()">Search<span *ngIf="isLoading"
            class="fa fa-spinner fa-spin"></span></button>
        <button class="form-btn-light" (click)="Clear()">Clear <span *ngIf="isLoading1"
            class="fa fa-spinner fa-spin"></span></button>
      </div>
    </div>
  </form>

  <div class="table-responsive">
    <table class="ratetable table-bordered" id="data-table-config">
      <thead>
        <tr>
          <th width="1%">No</th>
          <th width="10%">Invoice No</th>
          <th width="10%">Type</th>
          <th width="10%">Bill To</th>
          <th width="10%">BL No</th>
          <th width="15%">Shipper Name</th>
          <th width="20%">Bill From</th>
          <th width="15%">Status</th>
          <th width="9%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of invoiceList let i = index">
          <td width="1%">{{i +1}}</td>
          <td width="10%">{{item.INVOICE_NO}}</td>
          <td width="10%">{{item.INVOICE_TYPE}}</td>
          <td width="10%">{{item.BILL_TO}}</td>
          <td width="10%">{{item.BL_NO}}</td>
          <td width="15%">{{item.SHIPPER_NAME}}</td>
          <td width="20%" class="text-truncate">{{item.BILL_FROM}} ...</td>
          <td width="15%" class="status"><span
              [class]="item.STATUS == 'PROFORMA' ? 'waiting' : 'active'">{{item.STATUS}}</span>
          </td>
          <td width="9%">
            <i class="fa fa-eye me-2 pointer fs-6" tooltip="View" placement="top"></i>
            <i class="fa fa-file-pdf-o pointer text-success fs-6" (click)="getInvoiceDetails(item.INVOICE_ID)"
              tooltip="Download PDF" placement="top"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="modal-BL">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">BL Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
        </div>
        <div class="modal-body">
          <div class="col-md-10 mx-auto">
            <form [formGroup]="invoiceForm">
              <div class="form-group">
                <label class="form-label2">BL No</label>
                <input formControlName="BL_NO" [ngClass]="{'invalid':submitted && f.BL_NO.errors}"
                  class="form-control2" />
              </div>
              <label class="mb-2">Invoice Type</label>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="radio" value="FREIGHT" formControlName="radio">
                    <label class="ms-2">FREIGHT</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="radio" value="POL" formControlName="radio">
                    <label class="ms-2">POL</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="radio" value="POD" formControlName="radio">
                    <label class="ms-2">POD</label>
                  </div>
                </div>
              </div>
              <small *ngIf="submitted && f.radio.errors" class="text-danger">This is required</small>
            </form>
            <div class="col-md-6 offset-md-6 text-end">
              <button class="form-btn-primary" (click)="Submit()"> Submit </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>